#! upstart

start on startup
stop on shutdown

env RIPPLED_LOG_PATH={{ rippled_log_path }}
env RIPPLED_PUBKEY_NODE={{ rippled_pubkey_node.stdout[1:rippled_pubkey_node.stdout|length-1] }}
env HBASE_HOST={{ hbase_host }}
env HBASE_PORT={{ hbase_port }}
env HBASE_TABLE={{ hbase_table }}
env VALIDATION_TRACKER_POSTGRES_URL={{ postgres_url }}

exec validation-tracker --hbase --postgres

respawn

respawn limit 10 90
